<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_kodeabsen"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KodeAbsen"
        tools:targetApi="31">
        <activity android:name=".ActivityRegister"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityRegisterDone"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySplash"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityAbsenQR"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityAbsenKode"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityBuatKelas1"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityBuatKelas2"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityBuatKelas3"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ActivityBeranda"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>